<div class="notesList">
    <% if (notes.length > 0) { %>
        <table class="notes-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <% notes.forEach(note => { %>
                    <tr>
                        <td><%= note.id %></td>
                        <td><%= note.name %></td>
                        <td><%= note.content %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No notes found.</p>
    <% } %>
</div>